 <!-- billboard start  -->
 <section id="billboard">
  <div class="container ">
    <div class="row flex-lg-row-reverse align-items-center ">

      <div class="col-lg-6">
        <img src="assets/images/billboard.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
          height="500" loading="lazy">
      </div>

      <div class="col-lg-6">
        <h1 class=" text-capitalize  lh-1 my-3">Perfect way to rent a home</h1>
        <p class="lead">Diam vitae, nec mattis lectus quam pretium amet facilisis. Urna, massa aliqua dui
          pellentesque. Ac, gravida in eget non amet eget purus non.</p>        
      </div>
    </div>
  </div>
</section>

<!-- Feature start  -->
<section id="feature">
  <div class="container py-5">
    <div class="row">
      <div class="section-header align-center mb-5">
        <h2 class=" text-capitalize m-0">Featured In</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-between">
      <div class="col-md-2 ">
        <div class="my-3" role="group" aria-label="3 / 7" style="width: 158.667px; margin-right: 20px;"><img
            alt="image" src="assets/images/logo1.png"></div>
      </div>
      <div class="col-md-2">
        <div class="my-3" role="group" aria-label="3 / 7" style="width: 158.667px; margin-right: 20px;"><img
            alt="image" src="assets/images/logo2.png"></div>
      </div>
      <div class="col-md-2">
        <div class="my-3" role="group" aria-label="3 / 7" style="width: 158.667px; margin-right: 20px;"><img
            alt="image" src="assets/images/logo3.png"></div>
      </div>
      <div class="col-md-2">
        <div class="my-3" role="group" aria-label="3 / 7" style="width: 158.667px; margin-right: 20px;"><img
            alt="image" src="assets/images/logo4.png"></div>
      </div>
      <div class="col-md-2">
        <div class="my-3" role="group" aria-label="3 / 7" style="width: 158.667px; margin-right: 20px;"><img
            alt="image" src="assets/images/logo6.png"></div>
      </div>


    </div>
  </div>
</section>

<!-- Residence start  -->
<section id="residence">
  <div class="container  my-5 py-5">
    <h2 class="text-capitalize m-0 py-lg-5">Popular Residence</h2>

    <div class="swiper-button-next residence-swiper-next  residence-arrow"></div>
    <div class="swiper-button-prev residence-swiper-prev residence-arrow"></div>

    <div class="swiper residence-swiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="card">
            <img src="assets/images/item15.png" class="card-img-top" alt="image">
            <div class="card-body p-0">
                <h5 class="card-title pt-4">Aliva Priva Jalvin</h5>
              <p class="card-text">1087 Pin Oak Drive, Clinton, USA</p>

              <div class="card-text">
                <ul class="d-flex">
                  <li class="residence-list"> <img src="assets/images/bed.png" alt="image"> 4 bed</li>
                  <li class="residence-list"> <img src="assets/images/bath.png" alt="image"> 2 bath</li>
                  <li class="residence-list"> <img src="assets/images/square.png" alt="image"> 1203 Sqft.</li>
                </ul>
              </div>

            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card">
            <img src="assets/images/item16.png" class="card-img-top" alt="image">
            <div class="card-body p-0">
                <h5 class="card-title pt-4">Aliva Priva Jalvin</h5>
              <p class="card-text">1087 Pin Oak Drive, Clinton, USA</p>

              <div class="card-text">
                <ul class="d-flex">
                  <li class="residence-list"> <img src="assets/images/bed.png" alt="image"> 4 bed</li>
                  <li class="residence-list"> <img src="assets/images/bath.png" alt="image"> 2 bath</li>
                  <li class="residence-list"> <img src="assets/images/square.png" alt="image"> 1203 Sqft.</li>
                </ul>
              </div>

            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card">
            <img src="assets/images/item17.png" class="card-img-top" alt="image">
            <div class="card-body p-0">
                <h5 class="card-title pt-4">Aliva Priva Jalvin</h5>
              <p class="card-text">1087 Pin Oak Drive, Clinton, USA</p>

              <div class="card-text">
                <ul class="d-flex">
                  <li class="residence-list"> <img src="assets/images/bed.png" alt="image"> 4 bed</li>
                  <li class="residence-list"> <img src="assets/images/bath.png" alt="image"> 2 bath</li>
                  <li class="residence-list"> <img src="assets/images/square.png" alt="image"> 1203 Sqft.</li>
                </ul>
              </div>

            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card">
            <img src="assets/images/item1.jpg" class="card-img-top" alt="image">
            <div class="card-body p-0">
                <h5 class="card-title pt-4">Aliva Priva Jalvin</h5>
              <p class="card-text">1087 Pin Oak Drive, Clinton, USA</p>

              <div class="card-text">
                <ul class="d-flex">
                  <li class="residence-list"> <img src="assets/images/bed.png" alt="image"> 4 bed</li>
                  <li class="residence-list"> <img src="assets/images/bath.png" alt="image"> 2 bath</li>
                  <li class="residence-list"> <img src="assets/images/square.png" alt="image"> 1203 Sqft.</li>
                </ul>
              </div>

            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card">
            <img src="assets/images/item2.jpg" class="card-img-top" alt="image">
            <div class="card-body p-0">
                <h5 class="card-title pt-4">Aliva Priva Jalvin</h5>
              <p class="card-text">1087 Pin Oak Drive, Clinton, USA</p>

              <div class="card-text">
                <ul class="d-flex">
                  <li class="residence-list"> <img src="assets/images/bed.png" alt="image"> 4 bed</li>
                  <li class="residence-list"> <img src="assets/images/bath.png" alt="image"> 2 bath</li>
                  <li class="residence-list"> <img src="assets/images/square.png" alt="image"> 1203 Sqft.</li>
                </ul>
              </div>

            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card">
            <img src="assets/images/item3.jpg" class="card-img-top" alt="image">
            <div class="card-body p-0">
                <h5 class="card-title pt-4">Aliva Priva Jalvin</h5>
              <p class="card-text">1087 Pin Oak Drive, Clinton, USA</p>

              <div class="card-text">
                <ul class="d-flex">
                  <li class="residence-list"> <img src="assets/images/bed.png" alt="image"> 4 bed</li>
                  <li class="residence-list"> <img src="assets/images/bath.png" alt="image"> 2 bath</li>
                  <li class="residence-list"> <img src="assets/images/square.png" alt="image"> 1203 Sqft.</li>
                </ul>
              </div>

            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card">
            <img src="assets/images/item4.jpg" class="card-img-top" alt="image">
            <div class="card-body p-0">
                <h5 class="card-title pt-4">Aliva Priva Jalvin</h5>
              <p class="card-text">1087 Pin Oak Drive, Clinton, USA</p>

              <div class="card-text">
                <ul class="d-flex">
                  <li class="residence-list"> <img src="assets/images/bed.png" alt="image"> 4 bed</li>
                  <li class="residence-list"> <img src="assets/images/bath.png" alt="image"> 2 bath</li>
                  <li class="residence-list"> <img src="assets/images/square.png" alt="image"> 1203 Sqft.</li>
                </ul>
              </div>

            </div>
          </div>
        </div>

      </div>




    </div>

  </div>
</section>